<h1>Listing genres</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Popularity</th>
  </tr>

<% for genre in @genres %>
  <tr>
    <td><%=h genre.name %></td>
    <td><%=h genre.popularity %></td>
    <td><%= link_to 'Show', genre %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @genres %>
