<h1>Listing artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Estimated popularity</th>
  </tr>

<% for artist in @artists %>
  <tr>
    <td><%=h artist.name %></td>
    <td><%=h artist.csp %></td>
    <td><%= link_to 'Show', artist %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @artists %>
