<h1>Editing opensong</h1>

<% form_for(@opensong) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @opensong %> |
<%= link_to 'Back', opensongs_path %>