<h1>Listing opensongs</h1>

<table>
  <tr>
  </tr>

<% @opensongs.each do |opensong| %>
  <tr>
    <td><%= link_to 'Show', opensong %></td>
    <td><%= link_to 'Edit', edit_opensong_path(opensong) %></td>
    <td><%= link_to 'Destroy', opensong, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New opensong', new_opensong_path %>