<p>
  <b>Name:</b>
  <%=h @song.name %>
</p>

<p>
  <b>Artist name:</b>
  <%=h @song.artist.name %>
</p>

<%= link_to 'Preoccurrences', song_cooccurrences_path(@song) %> |

<%= link_to 'Back', songs_path %>