<h1>Listing identifications</h1>

<table>
  <tr>
  </tr>

<% @identifications.each do |identification| %>
  <tr>
    <td><%= link_to 'Show', identification %></td>
    <td><%= link_to 'Edit', edit_identification_path(identification) %></td>
    <td><%= link_to 'Destroy', identification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New identification', new_identification_path %>